.filter {
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: end;

  &:not(:last-child) {
    margin-bottom: 17px;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    text-align: right;
  }

  &__reset {
    cursor: pointer;

    font-size: 14px;
    line-height: 22px;
    color: #1890ff;

    opacity: 0.4;
    background: transparent;
    border: 0;
  }
}

.tabs {
  display: flex;

  &__item {
    cursor: pointer;

    padding: 8px 16px;

    font-size: 14px;
    line-height: 24px;
    color: #000;

    background: #fff;
    border: 1px solid #d9d9d9;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    &--active {
      color: #fff;
      background: #1890ff;
      border-color: #1890ff;
    }
  }
}
