.page {
  &__header {
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-bottom: 12px;
  }

  &__body {
    min-height: 100vh;
    padding: 12px;
    padding-top: 80px;
  }

  &__aside {
    position: fixed;
    z-index: 1;
    top: 80px;
    bottom: 12px;

    overflow-x: hidden;

    width: 100%;
    max-width: 465px;

    background-color: #fff;
  }

  &__recipes {
    width: 100%;
    padding-left: 475px;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
  }
}
